<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KYS</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/Features-Clean.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar.css">
    <link rel="stylesheet" href="../static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <!-- Start: gradient-navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="app-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h4>KnowYourSchedule</h4>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Why KYS?</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation" style="background-color: #03e0d1;"><a class="nav-link" href="#" style="background-color: #03e1d1;color: #ffffff;">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End: gradient-navbar -->
    {% if error_msg %}
        <div class="alert alert-danger">{{ error_msg }}</div>
    {% endif %}
    {% if success_msg %}
        <div class="alert alert-success">{{ success_msg }}</div>
    {% endif %}
    <!-- Start: Login Form Clean -->
    <div class="login-clean">

        <form class="login-form" action="/account/signin/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="sr-only" style="color: rgb(9,132,255);">Login Form</h2>
            <div class="illustration"><!--<i class="icon ion-ios-navigate"></i>--><H2 style="margin-bottom: 150px">Login</H2></div>
            <div class="form-group"><input class="form-control" type="email" name="txtEmail" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="txtPassword" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
    </div>
    <!-- End: Login Form Clean -->
    <!-- Start: Features Clean -->
    <div class="features-clean">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Why KYS?</h2>
                <p class="text-center"><br>KnowYourSchedule is a simple system which provides you the updated schedule that you will have to atttend. It provides notification for the classes you will have to attend.&nbsp;</p>
            </div>
            <!-- End: Intro -->
            <!-- Start: Features -->
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Works everywhere</h3>
                    <p class="description">KYS is accessable through every platform and is connected to the Internet.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">You can check your schedule at any time.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="icon ion-android-notifications icon"></i>
                    <h3 class="name">Notification</h3>
                    <p class="description">KYS provides you notification for your upcoming schedule and also updated &nbsp;schedule.</p>
                </div>
            </div>
            <!-- End: Features -->
        </div>
        <div>
            <p class="text-center">ProjectKYS©2019</p>
        </div>
    </div>
    <!-- End: Features Clean -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>